.titlebar {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid #ffffff45;
  top: 0;
  left: 0;
  right: 0;
  -webkit-app-region: drag;
}

[data-tauri-drag-region] {
  -webkit-app-region: drag;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.app-title {
  color: white;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: normal;
  -webkit-app-region: no-drag;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.titlebar > .controls {
  display: flex;
  gap: 8px;
  -webkit-app-region: no-drag;
  z-index: 10;
  margin-left: 12px;
}

.titlebar button {
  appearance: none;
  padding: 8px;
  margin: 0;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
  -webkit-app-region: no-drag;
}

.titlebar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.titlebar button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.titlebar button svg {
  width: 16px;
  height: 16px;
}